/*
Based off CSS code by Matt Bango: http://mattbango.com/notebook/web-development/pure-css-timeline/
Released with permission under the MIT license.
*/
ul.timestack-events {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 0;
  width: 100%;
}
ul.timestack-events li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 6px;
  position: relative;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  color: #707070;
  background-color: #eee;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border: 1px solid #ddd;
  font-size: 1.2em;
  font-weight: bold;
}
ul.timestack-events li em {
  font-weight: normal;
  font-size: 0.9em;
}
ul.intervals {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}
ul.intervals li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-right: 1px solid #ccc;
  color: #999 !default;
  float: left;
  font-size: 1.2em;
  margin: 0;
  padding: 15px 0;
  text-align: center;
}
ul.intervals li:first-child {
  border-left: 1px solid #ccc;
}
ul.intervals:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  margin-bottom: 8px;
}
