<!DOCTYPE html>
<html>
  <head>
    <title>Timestack</title>
    <script src='http://code.jquery.com/jquery-1.8.0.min.js'></script>
    <script src='https://raw.github.com/timrwood/moment/1.7.0/min/moment.min.js'></script>
    <script src='https://raw.github.com/icambron/timestack/master/files/timestack.min.js'></script>
    <script src='https://raw.github.com/icambron/twix.js/master/bin/twix.js'></script>
    <link rel='stylesheet' type='text/css' href='css/timestack.css'/>
    <link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'/>
    <link rel='stylesheet' type='text/css' href='css/syntax.css'/>
    <script>
      $(function(){
        $('#hourly').timestack({span: 'hour'});
        $('#daily').timestack({span: 'day'});
        $('#clicky').timestack({
          span: 'month',
          click: function(data){alert(data.title);}
        });
      });
    </script>
  </head>
  <body>
    <a href="https://github.com/icambron/timestack"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="container-fluid">
      {{content}}
    </div>
    <div class='footer'>
      <div class='container-fluid'>
        <p>Copyright 2012 Isaac Cambron. Timestack is available under the MIT license.</p>
      </div>
    </div>
  </body>
</html>
